<header>
	<div class="header__item">
		<a href="/classement"><span>Classement</span></a>
	</div>
	<div class="header__item">
		<a href="/cuisine"><span>Cuisine</span></a>
	</div>
	<div class="header__item">
		<a href="/commandes"><span>Commandes</span></a>
	</div>
</header>
