<header>
	<div class="home">
		<a href="/"><i class="fas fa-home fa-5x"></i></a>
	</div>
	<div class="menu">
		<span><a href="#">Menu du jour</a></span>
	</div>
	<div class="icons">
		<a href="https://twitch.tv/chatdesbois"><i class="fab fa-twitch fa-5x"></i></a
		><a href="https://youtube.com/channel/UCwQeH1MSugpIjKgOL6WwHhw?view_as=subscriber"
			><i class="fab fa-youtube fa-5x"></i></a
		><a href="https://twitter.com/Chatdesbois_"><i class="fab fa-twitter fa-5x"></i></a
		><a href="https://snapchat.com/add/chat_desbois"><i class="fab fa-snapchat fa-5x"></i></a
		><a href="https://instagram.com/chatdesbois_/"><i class="fab fa-instagram fa-5x"></i></a>
	</div>
</header>
