<header>
	<div class="menu">
		<a href="/classement"><span>Classement</span></a>
	</div>
	<div class="menu">
		<a href="/cuisine"><span>Cuisine</span></a>
	</div>
	<div class="menu">
		<a href="/commande"><span>Commandes</span></a>
	</div>
</header>
