<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Site de la streameuse ChatdesBois." />
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" type="text/css" href="/styles/<%=style%>" />
<script src="https://kit.fontawesome.com/4008633781.js" crossorigin="anonymous"></script>
<title><%=title%></title>
