<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('../partials/_head') %>
	</head>
	<body>
		<%- include('../partials/_header--home') %>
		<section>
			<div class="title">
				<h1 class="items">BIENVENUE</h1>
				<h2 class="items">SUR LE SITE</h2>
			</div>
			<div class="icons">
				<a href="https://twitch.tv/chatdesbois"><i class="fab fa-twitch fa-5x"></i></a
				><a href="https://youtube.com/channel/UCwQeH1MSugpIjKgOL6WwHhw?view_as=subscriber"
					><i class="fab fa-youtube fa-5x"></i></a
				><a href="https://twitter.com/Chatdesbois_"><i class="fab fa-twitter fa-5x"></i></a
				><a href="https://snapchat.com/add/chat_desbois"><i class="fab fa-snapchat fa-5x"></i></a
				><a href="https://instagram.com/chatdesbois_/"><i class="fab fa-instagram fa-5x"></i></a>
			</div>
		</section>
		<%- include('../partials/_footer') %>
	</body>
</html>
