<section>
	<div class="cards">
		<% recipes.forEach((recipe) => { %>
		<div class="cards__item">
			<li>Nom recette: <span><%= recipe.name %></span></li>
			<p>Ingrédients:</p>
			<ul>
				<% if(recipe.list) {%> <% recipe.list.forEach((ingredient) => { %>
				<li><%= ingredient%></li>
				<%}) %> <% } %>
			</ul>
		</div>
		<% }); %>
	</div>
</section>

<style>
	.cards__item {
		background-color: aliceblue;
		padding: 2rem;
	}
</style>
